p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: orangered;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.secondcreate {
    grid-column: 2/3;
    grid-row: 1;
}

.thirdcreate {
    grid-column: 3/4;
    grid-row: 1;
}

input {
    margin-top: 15px;
}

#inputcategory {
    margin-top: 15px;
}

#submit {
    margin-top: 16px;
}

.noDisplay {
    display: none;
}